<html>
<head>
    <title>
        Dashboard - forkie
    </title>
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/open-iconic-bootstrap.min.css') }}" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"/>
    <style>
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">forkie</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Files</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Groups
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% if groups|length < 1 %}
                        <a class="dropdown-item disabled" href="#">You're not in any groups</a>
                    {% endif %}
                    {% for group in groups %}
                        <a class="dropdown-item" href="/group/{{ group.groupid }}">{{ group["groupname"] }}</a>
                    {% endfor %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url_for('newGroupPage') }}"><span class="oi oi-plus" title="plus"
                                                                                        aria-expanded="true"
                                                                                        style="font-size: .8rem;"> </span>
                        New Group</a>
                </div>
            </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">
            <a type="button" class="btn btn-outline-success mr-2" href="{{ url_for('newFilePage') }}" role="button">
                <span class="oi oi-document" title="document"></span>
            </a>
            <a type="button" class="btn btn-outline-danger" href="{{ url_for('signin.signout') }}" role="button">
                <span class="oi oi-account-logout" title="account-logout"></span>
            </a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row mt-4 mb-4">
        <h2>Welcome back {{ user['username'] }}</h2>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">Recent Comments</div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">Files</div>
                    <div class="list-group">
                        {% for file in files %}
                            <a href="/file/{{ file.fileid }}" class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">{{ file["filename"] }}</h5>
                                </div>
                                <small class="text-muted">Updated <time class="timeago" datetime="{{ file["versions"][0].uploaded }}">5 mins ago</time> by {{ file["versions"][0]["author"]["username"] }}</small>
                              </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">Your Groups</div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.timeago.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/filerep0.js') }}"></script>
<script>
    $(document).ready((e) => {
        $("time.timeago").timeago();
    });
</script>
</html>
