<html>
<head>
    <title>
        {{ group["groupname"] }} - rep0
    </title>
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/open-iconic-bootstrap.min.css') }}" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"/>
    <style>
    </style>
</head>
<body>
{% if "msg" in request.args %}
    <div class="alert alert-warning alert-dismissible fade show position-fixed m-4 msg" role="alert">
        {{ request.args["msg"] }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}
<nav class="navbar navbar-expand-lg navbar-light bg-light orange-grad">
    <a class="navbar-brand" href="#">rep0</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('dash') }}">Back to Dashboard</a>
            </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">
            <a type="button" class="btn btn-outline-dark mr-2" href="{{ url_for('newFilePage') }}" role="button">
                <span class="oi oi-document" title="document"></span>
            </a>
            <a type="button" class="btn btn-outline-dark" href="{{ url_for("signin.signout") }}" role="button">
                <span class="oi oi-account-logout" title="account-logout"></span>
            </a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row mt-4 mb-4">
        <h2>{{ group["groupname"] }}</h2>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-muted">Members</h5>
                    <div class="list-group">
                        {% for member in group["members"] %}
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">{{ member["username"] }}</h5>
                                    <small>
                                        <time class="timeago" datetime="{{ member["lastlogin"] }}">5 mins ago</time>
                                    </small>
                                </div>
                                <p class="mb-1">{{ member["email"] }}</p>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-muted">Group Files</h5>
                    {% for file in group["files"] %}
                        <a href="{{ url_for("file", id=file["fileid"]) }}"
                           class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1 text-truncate">{{ file["filename"] }}</h5>
                                <small>
                                    Updated
                                    <time class="timeago"
                                          datetime="{{ file["versions"][file["versionorder"]|first]["uploaded"] }}">5
                                        mins ago
                                    </time>
                                </small>
                            </div>
                            <small class="text-muted">Created
                                by {{ file["versions"][file["versionorder"]|last]["author"]["username"] }}</small>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card mb-4">
                <div class="card-body w-100 d-flex flex-column">
                    <h5 class="card-title text-muted">Group Actions</h5>
                    <a class="btn btn-outline-success mb-2" href="{{ url_for('newFilePage') }}" role="button"><span
                            class="oi oi-document pr-1" title="document"> </span> New File</a>
                    <a class="btn btn-outline-info mb-2" href="#" data-toggle="modal" data-target="#emailGroup"
                       role="button"><span class="oi oi-envelope-closed pr-1" title="envelope closed"> </span> Email
                        Group</a>
                    <a class="btn btn-outline-danger mb-2" href="#" data-toggle="modal" data-target="#leaveGroup"
                       role="button"><span class="oi oi-ban pr-1"
                                           title="ban"> </span> Leave Group</a>
                </div>
            </div>
            {% if isLeader %}
                <div class="card">
                    <div class="card-body w-100 d-flex flex-column">
                        <h5 class="card-title text-muted">Admin Actions</h5>
                        <a class="btn btn-outline-success mb-2" href="#" data-toggle="modal" data-target="#addMember"
                           role="button"><span class="oi oi-plus pr-1" title="plus"> </span> Add Member</a>
                        <a class="btn btn-outline-danger mb-2" href="#" data-toggle="modal" data-target="#removeMember"
                           role="button"><span class="oi oi-minus pr-1"
                                               title="minus"> </span> Remove Member</a>
                        <a class="btn btn-outline-warning mb-2" href="#" data-toggle="modal" data-target="#renameGroup"
                           role="button"><span class="oi oi-pencil pr-1"
                                               title="pencil"> </span> Rename
                            Group</a>
                        <a class="btn btn-outline-info mb-2" href="#" role="button"><span class="oi oi-clipboard pr-1"
                                                                                          title="clipboard"> </span>
                            Generate Report</a>
                        <a class="btn btn-outline-danger mb-2" href="#" role="button" data-toggle="modal"
                           data-target="#deleteGroup"><span class="oi oi-trash pr-1"
                                                            title="trash"> </span> Delete
                            Group</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
<div class="modal hide" id="addMember" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Member</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('groups.addMember') }}" method="POST">
                    <input type="hidden" value="{{ group["groupid"] }}" name="groupid"/>

                    <div class="form-group">
                        <label for="group">User Email</label>
                        <input type="email" class="form-control" name="email" id="email"/>
                    </div>
                    <button class="btn btn-outline-success">
                        <span class="oi oi-plus" title="plus"></span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal hide" id="removeMember" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Remove Member</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('groups.removeMember') }}" method="POST">
                    <input type="hidden" value="{{ group["groupid"] }}" name="groupid"/>

                    <div class="form-group">
                        <label for="group">Select Group</label>
                        <select class="form-control" id="group" name="userid">
                            {% for member in group["members"] %}
                                {% if request.cookies.get('userid') != member["userid"]|string %}
                                    <option value="{{ member["userid"] }}">{{ member["username"] }}
                                        - {{ member["email"] }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <button class="btn btn-outline-danger">
                        <span class="oi oi-minus" title="minus"></span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal hide" id="emailGroup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Email Group</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('email.emailGroup') }}" method="post">
                    <input type="hidden" value="{{ group["groupid"] }}" name="groupid"/>

                    <div class="form-group">
                        <label for="subject">Email Subject</label>
                        <input type="text" class="form-control" id="subject" name="subject">
                    </div>
                    <div class="form-group">
                        <label for="content">Email Content</label>
                        <textarea name="content" id="content" class="form-control" cols="30" rows="10"></textarea>
                    </div>
                    <button class="btn btn-outline-info">
                        <span class="oi oi-check" title="check"></span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal hide" id="renameGroup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Rename Group</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('groups.renameGroup') }}" method="post">
                    <input type="hidden" value="{{ group["groupid"] }}" name="groupid"/>

                    <div class="form-group">
                        <label for="newname">New Group Name</label>
                        <input type="text" class="form-control" id="newname" name="newname">
                    </div>
                    <button class="btn btn-outline-success">
                        <span class="oi oi-check" title="check"></span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal hide" id="deleteGroup" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Are you sure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>This action cannot be undone!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Cancel</button>
                <form action="{{ url_for('groups.deleteGroup') }}" method="POST">
                    <input type="hidden" name="groupid" value="{{ group["groupid"] }}"/>
                    <button class="btn btn-outline-danger">Delete Group</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal hide" id="leaveGroup" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Are you sure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% if not isLeader %}
                <div class="modal-body">
                    <p>To see this group's files you will have to be re-added by the group leader.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Cancel</button>
                    <form action="{{ url_for('groups.removeMember') }}" method="POST">
                        <input type="hidden" name="groupid" value="{{ group["groupid"] }}"/>
                        <input type="hidden" name="userid" value="{{ request.cookies.get("userid") }}" />
                        <button class="btn btn-outline-danger">Leave Group</button>
                    </form>
                </div>
            {% else %}
                {% if group["members"]|length == 1 %}
                    <div class="modal-body">
                        <p>By leaving this group you are deleting it, as there are no other members</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Cancel</button>
                        <form action="{{ url_for('groups.deleteGroup') }}" method="POST">
                            <input type="hidden" name="groupid" value="{{ group["groupid"] }}"/>
                            <button class="btn btn-outline-danger">Delete Group</button>
                        </form>
                    </div>
                {% else %}
                    <form action="{{ url_for('groups.removeMember') }}" method="POST">
                        <div class="modal-body">
                            <p>As you are group leader, you must select a new leader before leaving</p>
                            <div class="form-group">
                                <label for="group">New Leader</label>
                                <select class="form-control" id="group" name="groupleaderid">
                                    {% for member in group["members"] %}
                                        {% if request.cookies.get('userid') != member["userid"]|string %}
                                            <option value="{{ member["userid"] }}">{{ member["username"] }}
                                                - {{ member["email"] }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Cancel</button>
                            <input type="hidden" name="userid" value="{{ request.cookies.get('userid') }}"/>
                            <input type="hidden" name="groupid" value="{{ group["groupid"] }}"/>
                            <button class="btn btn-outline-danger">Leave Group</button>
                        </div>
                    </form>

                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.timeago.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/filerep0.js') }}"></script>
<script>
    $(document).ready((e) => {
        $("time.timeago").timeago();
    });

    $(".alert").alert();
    setTimeout(() => {
        $(".alert").alert("close")
    }, 5000);
</script>
</html>
